.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;

  border: 1px solid black;
}

.nav-items > ul {
  list-style: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  height: 70px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}

.restaurantlist {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 200px;
  background: grey;
  margin: 10px;
}
